.top-bar{
  display: flex;
  align-items: center;
  height: 60px;
  .logo-container{
    display: flex;
    font-size: 20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 300;
    strong{
      font-weight: 300;
      color: rgba(18, 150, 255, .85);
    }
    .logo{
      display: flex;
      &::before,
      &::after{
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: rgba(18, 150, 255, .85);
      }
      &::before{
        background-color: rgba(0, 0, 0, 0.2)
      }
      &::after{
        transform: translateX(-8px);
      }
    }
  }
}
